@model MSON.sanpham
	<!-- SLIDER EXAMPLE -->
	<section class="example">
		<article class="content">
			<div id="rev_slider_54_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="showcase-carousel" style="margin:0px auto;background-color:#111111;padding:0px;margin-top:0px;margin-bottom:0px;background-image:url(../../assets/images/webproduct_darkbg3.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;">
				<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
				<div id="rev_slider_54_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-204" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone1-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number One" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-205" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone2-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Two" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-206" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone3-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Three" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-207" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone4-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Four" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-208" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone5-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Five" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-209" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone6-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Six" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-210" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone7-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Seven" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-211" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone8-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Eight" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-212" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="../../assets/images/phone9-60x60.png" data-rotate="0" data-saveperformance="off" data-title="Number Nine" data-description="">
							<!-- MAIN IMAGE -->
							<img src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" alt="" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->
			<script type="text/javascript">
					var tpj=jQuery;
					var revapi54;
					tpj(document).ready(function() {
						if(tpj("#rev_slider_54_1").revolution == undefined){
							revslider_showDoubleJqueryError("#rev_slider_54_1");
						}else{
							revapi54 = tpj("#rev_slider_54_1").show().revolution({
								sliderType:"carousel",
								jsFileLocation:"../../revolution/js/",
								sliderLayout:"fullwidth",
								dottedOverlay:"none",
								delay:9000,
								navigation: {
									keyboardNavigation:"off",
									keyboard_direction: "horizontal",
									mouseScrollNavigation:"off",
									onHoverStop:"off",
									arrows: {
										style:"erinyen",
										enable:true,
										hide_onmobile:false,
										hide_onleave:false,
										tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">{{title}}</span> </div>',
										left: {
											h_align:"left",
											v_align:"center",
											h_offset:30,
											v_offset:0
										},
										right: {
											h_align:"right",
											v_align:"center",
											h_offset:30,
											v_offset:0
										}
									}
									,
									thumbnails: {
										style:"gyges",
										enable:true,
										width:60,
										height:60,
										min_width:60,
										wrapper_padding:20,
										wrapper_color:"#000000",
										wrapper_opacity:"0.15",
										tmp:'<span class="tp-thumb-img-wrap">  <span class="tp-thumb-image"></span></span>',
										visibleAmount:9,
										hide_onmobile:false,
										hide_onleave:false,
										direction:"horizontal",
										span:true,
										position:"outer-bottom",
										space:10,
										h_align:"center",
										v_align:"bottom",
										h_offset:0,
										v_offset:0
									}
								},
								carousel: {
									maxRotation: 65,
									vary_rotation: "on",
									minScale: 55,
									vary_scale: "off",
									horizontal_align: "center",
									vertical_align: "center",
									fadeout: "on",
									vary_fade: "on",
									maxVisibleItems: 5,
									infinity: "off",
									space: -150,
									stretch: "off"
								},
								gridwidth:600,
								gridheight:600,
								lazyType:"none",
								shadow:0,
								spinner:"off",
								stopLoop:"on",
								stopAfterLoops:0,
								stopAtSlide:1,
								shuffle:"off",
								autoHeight:"off",
								disableProgressBar:"on",
								hideThumbsOnMobile:"off",
								hideSliderAtLimit:0,
								hideCaptionAtLimit:0,
								hideAllCaptionAtLilmit:0,
								debugMode:false,
								fallbacks: {
									simplifyAll:"off",
									nextSlideOnWindowFocus:"off",
									disableFocusListener:false,
								}
							});
						}
					});	/*ready*/
			</script>
		</article>
	</section>


	<dl class="dl-horizontal">
		<dt>
			Tên máy:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TEN)
		</dd>

		<dt>
			Mô tả:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MOTA)
		</dd>

		<dt>
			Tên loại:
		</dt>

		<dd>
			@Html.DisplayFor(model => model.loaihang.TENLOAI)
		</dd>
		@*<dt>
			Hình:
		</dt>

		<dd>

			<img height="430" width="760" class="img-thumbnail" src="~/IMAGES/@Html.DisplayFor(model => model.IMG_URL)" />

		</dd>*@

	</dl>
