@model IPagedList<MSON.sanpham>
@*@model Tuple<List<sanpham>, List<loaihang>>*@
@{
    ViewBag.Title = "Sản phẩm";
}


<div class="page-header header-mathang">
    <h1>
        Sản phẩm
    </h1>
</div>




<div class="row">

    @foreach (var item in Model)
    {

    <div class="col-md-4">
        <div class="thumbnail">
            <div>

                <p class="text-center" style="font-size: large;">
                    @Html.ActionLink(item.TEN, "Detail_SanPham", "NguoiDung", new {Id = item.ID}, null)
                </p>

            </div>

            <img class="img-thumbnail"  data-original="#" width="320" height="240" alt="Không có hình" src="~/IMAGES/@Html.DisplayFor(itemModel => item.IMG_URL)" style="display: block; width: 320px; height: 240px;">
            <div class="caption">
                <p style="width: 100%;">

                    @Html.ActionLink("Xem", "Detail_SanPham", "NguoiDung", new {Id = item.ID}, new {@class = "btn btn-primary btn-lg btn-block"})
                </p>
            </div>
        </div>
    </div>
    }


</div>

<div class="pagedList">
    @Html.PagedListPager(Model, page => @Url.Action("SanPham","NguoiDung", new { page }), new PagedListRenderOptions() { LinkToFirstPageFormat = "Trang đầu", LinkToLastPageFormat = "Trang cuối", LinkToNextPageFormat = "Sau", LinkToPreviousPageFormat = "Trước" })
</div>