@model MSON.sanpham

@{
    ViewBag.Title = "Detail_SanPham";
}

<h2>Detail_SanPham</h2>

@Html.Partial("Detail_Partial", Model)

    <p>
        @Html.ActionLink("Sửa", "Edit_SanPham", new { id = Model.ID }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
    </p>
